ML AutoAI.json
[{"id":"65754d67.568d94","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f8fcceb5.3de8b","type":"debug","z":"65754d67.568d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"4ddf830e.07685c","type":"function","z":"65754d67.568d94","name":"pre-token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"YOiDDkNzNnlTAaIxdnZFroWHgcxyrTWEMVz1HyRcauXf\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["d0c278cb.f21d68"]]},{"id":"d0c278cb.f21d68","type":"http request","z":"65754d67.568d94","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":422.00000381469727,"y":304.00000286102295,"wires":[["227e297f.a4b9d6","9ca726dc.997548"]]},{"id":"227e297f.a4b9d6","type":"debug","z":"65754d67.568d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"9ca726dc.997548","type":"function","z":"65754d67.568d94","name":"Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar skin = global.get(\"skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"skin\",\"test\",\"mass\",\"pedi\",\"age\"]],\"values\": [[preg,plas,pres,skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":614.0000076293945,"y":256.0000021457672,"wires":[["97301c54.3b695"]]},{"id":"97301c54.3b695","type":"http request","z":"65754d67.568d94","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/98b65fb8-5a57-44f5-b813-aa7c6240340a/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":280,"wires":[["a1ae604.1197da","e7597fc3.f983e"]]},{"id":"a1ae604.1197da","type":"debug","z":"65754d67.568d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"90288c1a.74492","type":"inject","z":"65754d67.568d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["4ddf830e.07685c"]]},{"id":"96819e19.d0f0d","type":"debug","z":"65754d67.568d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":823.9999885559082,"y":147.0000057220459,"wires":[]},{"id":"e7597fc3.f983e","type":"function","z":"65754d67.568d94","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":669.6000595092773,"y":188.00000190734863,"wires":[["96819e19.d0f0d","2bb3a2b5.ab43ce"]]},{"id":"33898bca.09e404","type":"ui_form","z":"65754d67.568d94","name":"","label":"","group":"f62cd875.969a18","order":1,"width":0,"height":0,"options":[{"label":"Preg","value":"preg","type":"number","required":true,"rows":null},{"label":"Plas","value":"plas","type":"number","required":true,"rows":null},{"label":"pres","value":"pres","type":"number","required":true,"rows":null},{"label":"skin","value":"skin","type":"number","required":true,"rows":null},{"label":"test","value":"test","type":"number","required":true,"rows":null},{"label":"mass","value":"mass","type":"number","required":true,"rows":null},{"label":"pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["f8fcceb5.3de8b","4ddf830e.07685c"]]},{"id":"2bb3a2b5.ab43ce","type":"ui_text","z":"65754d67.568d94","group":"f62cd875.969a18","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"f62cd875.969a18","type":"ui_group","z":"65754d67.568d94","name":"Diabetes Prediction using AutoAI","tab":"4b799b2e.81a494","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b799b2e.81a494","type":"ui_tab","z":"65754d67.568d94","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
